<div class="display-box">
  <div class="row">
    <div class="col-4">
      <%= image_tag 'user.png' %>
      <h5> <%= @user.email %> </h5>
      <h6>Member Since:<%= @user.created_at.strftime("%B %d, %Y") %></h5>
    </div>
  <div class="col-8 float-right">
    <h3><u>Stats</u></h3>
    <br/>
    <h6><%= @user.comments.count %> total comment(s)</h6>
    <br/>
    <h6> You gave <%= @user.comments.where(rating: "5_stars").count %> places
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      </h6>
  </div>
  </div>
<div class="clear"></div>
</div>

<br/>
<h4 class="font-black">My Comments</h4>
<br/>
<div class="row">
  <% @user.comments.each do |comment| %>
  <div class= "col-12 col-sm-6">
    <div class="display-box-comments">
     <h5 class="text-center"><%= link_to comment.place.name, place_path(comment.place) %></h5>
     <br/>
  <blockquote>
    <% if comment.humanized_rating.present? %>
      <b><%= comment.humanized_rating %></b> -
    <% end %>
    <%= comment.message %>
    <small><%= comment.user.email %></small>
  </blockquote>
</div>
</div>
  <% end %>
  </div>

<br/>
<div class="clear"></div>
  <h4 class="font-black">My Places</h4>
  <br/>
  <ul>
  <% @user.places.each do |place| %>
    <li><%= link_to place.name, place_path(place) %></li>
  <% end %>
  </ul
