<div class="col-10 offset-1">
  <div class="display-box">
<h1>Enter Place Details Here</h1>
<br />
<%= simple_form_for @place do |f| %>
<%= f.input :name %>
<%= f.input :address %>
<%= f.input :description %>
<br />
<%= f.submit 'Create', class: 'btn btn-warning' %>
<% end %>
<br />
</div>
</div>
