<div class="col-8 offset-2">
  <div class="display-box-place">

    <% if @place.photos.present? %>
      <div class="photo-large">
        <% @place.photos.each do |photo| %>
          <%= image_tag photo.picture %>
          <br/>
          <%= photo.caption %>
       <% end %>
      </div>
    <% end %>

    <div class="place_info">
      <h5><%= @place.name %></h5>
      <i class="address"><%= @place.address %></i>
      <br/>
      <hr/>
      <div class="description">
        <p><%= @place.description %></p>
      </div>
      <hr/>

    </div>
    <br/>

  <% if @place.latitude.present? && @place.longitude.present? %>
    <script>
     function initMap() {
       var myLatLng = {
         lat: <%= @place.latitude %>,
         lng: <%= @place.longitude %>
        };
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: myLatLng
        });
        var marker = new google.maps.Marker({position: myLatLng, map: map,  title: 'Hello World!'});
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWNadHm-Cjr4DXRFZ2KIslXht0zczZYk0&callback=initMap"></script>

    <div id="map"></div>
    <br/>

  <% else %>
     <div class="alert alert-danger">No map to display. Address is not vaild</div>
     <br/>
  <% end %>
</div>
</div>
<!-- end of display box -->

<div class="button_section">

  <div class="offset-8">
    <% if current_user && current_user == @place.user %>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPhoto">
      Add a photo
    </button>

    <%= link_to 'Edit', edit_place_path(@place), class: "btn btn-primary" %>
    <%= link_to 'Delete', place_path(@place), method: :delete, data: {confirm: 'Are you sure you want to delete this?'}, class: "btn btn-danger" %>
    <% end %>

  </div>
</div>
<br/>

<div class="comments_header">

  <div class="col-10 offset-1">
    <h1 class="float-left">Comments</h1>

    <button type="button" class="btn btn-primary btn-lg float-right" data-toggle="modal" data-target="#myModal">
    Add a comment
    </button>

  </div>
</div>

<div class="clear"></div>
<br/>


<div class="row">
  <% if @place.comments.present? %>
    <% @place.comments.each do |comment| %>
      <div class="col-12 col-sm-6 ">
        <blockquote class="display-box-comments">
          <% if comment.humanized_rating.present? %>
          <h4><%= comment.humanized_rating %></h4>
          <br/>
          <% end %>
          <i class="fa fa-quote-left" aria-hidden="true"></i>
          <span class="comment-font"><%= comment.message %> </span>
          <i class="fa fa-quote-right" aria-hidden="true"></i>
            -
          <small><%= comment.user.email %></small>
        </blockquote>
      </div>
    <% end %>
  <% else %>
   <div class="col-4 offset-4">
     <blockquote class="display-box" style="text-align:center">
        Tell us what you think
     </blockquote>
  </div>
 <% end %>
</div>


<!-- Modal 1  Add Comment-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add a comment</h4>
      </div>
      <div class="modal-body">

            <%= simple_form_for @comment, url: place_comments_path(@place) do |f| %>
            <%= f.input :message %>
            <%= f.input :rating, as: :select, collection: Comment::RATINGS %>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.submit "Add Comment", class: 'btn btn-warning' %>
            </div>
            <% end %>
      </div>


    </div>
  </div>
</div>

<!-- Modal 2 - Add Photo -->
<div class="modal fade" id="addPhoto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add a photo</h4>
      </div>
      <div class="modal-body">

            <%= simple_form_for @photo, url: place_photos_path(@place) do |f| %>
            <%= f.input :picture %>
            <%= f.input :caption %>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.submit "Add photo", class: 'btn btn-warning' %>
            </div>
            <% end %>
      </div>


    </div>
  </div>
</div>
